<!doctype html>
<html>
<head>
    <title>Account Select</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> <!-- load bulma css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:70px; }
    </style>
</head>
<body>
	<div class="container">
    	<div class="jumbotron text-center text-success">
			<h1><span class="fa fa-lock"></span> Select Account :- </h1>
			<p>
				<form action="/twitteraccountselect" method="POST">
					<button type="submit" value="baidu99" class="btn btn-danger"> Baidurya Roy</button>
				</form>
			</p>
			<p>
				<form action="/twitteraccountselect/twitteregister" method="POST">
					<button type="submit" value="ParikGh98" class="btn btn-danger"> Parikshit Ghosh</button>
				</form>
			</p>

		</div>
	</div>
</body>
</html>