<html>
   
   <head>
      <title>Display Details</title>
   </head>
   
   <body>
      <script language = "php">
       $name = $email = $username = $gender = $url = $status = $location = "";
         
         if ($_SERVER["REQUEST_METHOD"] == "POST") {
            $name = test_input($_POST["name"]);
            $email = test_input($_POST["email"]);
            $username = test_input($_POST["username"]);
            $gender = test_input($_POST["gender"]);
            $url = test_input($_POST["url"]);
            $status = test_input($_POST["status"]);
            $location = test_input($_POST["location"]);
            
         }
         function test_input($data) {
            $data = trim($data);
            $data = stripslashes($data);
            $data = htmlspecialchars($data);
            return $data;
         }
      </script>
        <script lang="php">
        print("Variable");
        </script>
      
   </body>
</html>