<!doctype html>
<html>
<head>
    <title>Twitter SignUp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> <!-- load bulma css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:70px; }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center text-success">
        <h1><span class="fa fa-sign-in"></span> Sign In</h1>
        <br>
        <h5><span class="fa fa-key"></span> Login :- </h5>

        <form action="/profile" method="POST">
            <label for="uname">User Name:</label>
            <input type="text" id="uname" name="usrname">
            <button type="submit" value="Submit" class="btn btn-danger"> LOGIN </button>
        </form>
        

    </div>
</div>
<div class="container">
    <div class="jumbotron text-center text-success">
        <h1><span class="fa fa-lock"></span> Sign Up</h1>
        <br>
        <h5><span class="fa fa-key"></span> Register as New User :- </h5>

        <form action="/register" method="POST">
            <label for="uname">User Name:</label>
            <input type="text" id="uname" name="usrname">
            <button type="submit" value="Submit" class="btn btn-danger"> REGISTER </button>
        </form>
        
        
        <br>
        <br>

        <h5><span class="fa fa-key"></span> Register with twitter :- </h5>       
       <form action="/twitteregister" method="POST" id="twitter">
        <label for="uname">User Name:</label>
        <input type="text" id="uname" name="usrname">
    </form>
    <button type="submit" form="twitter" value="Submit" class="btn btn-danger"><span class="fa fa-twitter"></span> Signup with Twitter</button>

    </div>
</div>
</body>
</html> 