<!doctype html>
<html>
<head>
    <title>User Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> <!-- load bulma css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:70px; }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center text-success">
        <h1><span class="fa fa-resistance"></span>      {{.Username}}'s Information :-      <span class="fa fa-resistance"></span></h1><br>

        <p class="btn btn-danger">Full Name :- {{.Fullname}} </p>
        <p class="btn btn-danger">Email Address :- {{.Emailid}} </p>
        <p class="btn btn-danger">Gender :- {{.Gender}} </p><br>
        <p class="btn btn-danger">Location :- {{.Location}} </p><br>
        <p class="btn btn-danger">URL :- {{.URL}} </a></p><br>
        <p class="btn btn-danger">Status :- {{.Status}} </p><br>
        <p class="btn btn-danger">Twitter Linked :- {{.Twitterlinked}} </p>
    </div>
</div>
<div class="container">
    <div class="jumbotron text-center text-success">
        <p>
            <form action="/profile/editprofile" method="POST">
                <button type="submit" value="Submit" class="btn btn-danger"><span class="fa fa-edit"></span> Edit Account</button>
            </form>
        </p>
        <p>
            <form action="/profile/removeprofile" method="POST">
                <button type="submit" name="usrname" value="{{.Username}}" class="btn btn-danger"><span class="fa fa-remove"></span> Remove Account</button>
            </form>
        </p>
        <p>
            <form action="/" method="POST">
                <button type="submit" value="Submit" class="btn btn-danger"><span class="fa fa-sign-out"></span> Signout</button>
           </form>
        </p>
        
            
    </div>
</div>
</body>
</html> 